* {
    margin: 0;
    padding: 0
}

body {
    font: 14px/24px '微软雅黑', sans-serif;
}

.wp {
    width: 960px;
    margin: auto;
}

.z {
    float: left;
}

.y {
    float: right;
}

img {
    border: none
}

.top {
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #d8d8d8;
    background-color: #303030;
}

.top a {
    text-decoration: none;
    color: #d8d8d8;
    margin-right: 15px;
}

.top a:hover {
    color: #f60;
}

.top span {
    margin-left: 15px;
}

/*LOGOS*/
.logos {
    height: 59px;
    margin: 15px auto;
}

/*搜索*/
.search {
    width: 284px;
    height: 41px;
    margin-top: 9px;
}

.search td {
    height: 41px;
}

.s_l {
    width: 6px;
    background: url("img/s_z.jpg")
}

.s_c {
    width: 200px;
    background: url("img/s_c.jpg") repeat-x;
}

.s_r {
    width: 78px;
    background: url("img/s_r.jpg");
}

.s_c input {
    height: 35px;
    width: 200px;
    border: none;
    line-height: 41px;
    vertical-align: middle;
    margin-top: 3px;
}

.s_r button {
    width: 78px;
    height: 41px;
    background: none;
    border: none;
    cursor: pointer;
}

.phone {
    height: 59px;
    line-height: 59px;
    margin-left: 15px;
}

.phone span {
    font-size: 26px;
    color: darkred;
}

/*导航*/
.navi {
    height: 39px;
    background: url("img/nav_bg.jpg") repeat-x;
}

.navi a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.navi a:hover {
    background: darkred;
}

.navi li {
    float: left;
    list-style: none;
    padding: 0 18px;
    height: 39px;
    line-height: 39px;
}

.navi li.a ,.navi li:hover {
    background: url("img/nav_hover.jpg");
}
.center .ad {
    margin-bottom: 10px;
}

/*中间部分*/
.title {
    padding-bottom: 10px;
    border-bottom: #d03642 2px solid;
    position: relative;
    margin-bottom: 10px;
}
.title a {
    position: absolute;
    color: #ff6600;
    right: 0;
    bottom: 10px;
    text-decoration: none;
}
.intro {
    width: 540px;
    height:320px;
    float: left;
    margin-right: 20px;
}

.jianjie img {
    float: left;
    margin-right: 10px;
}
.jianjie p {
    text-indent: 24px;
}

.news {
    float: right;
    width: 400px;
    height: 320px;
}

.news_list li {
    list-style: none;
    height: 24px;
    line-height: 24px;
    position: relative;
    padding-left: 15px;
    background:url("img/list_bg.jpg") no-repeat center left;
    margin-bottom: 6px;
}
.news_list a {
    color: #616161;
    text-decoration: none;
}
.news_list span {
    position: absolute;
    right: 0;
    top: 0;
    color: #888888;
    font-size: 12px;
}
.news_list h3 {
    font-weight: normal;
}
.news_list li.a {
     background: none;
     padding: 0;
     height: 76px;
 }

.news_list li img {
    float: left;
    margin: 0 10px 10px 0;
}
.news_list p {
    font-size: 12px;
    text-indent: 24px;
}
.product {
    clear: both;
}
.product_detail {
    margin: 0 auto;
    width: 960px;
}
.product_detail li {
    list-style: none;
    float: left;
    width: 151px;
    height: 96px;
    margin: 0 10px 10px 0;
    position: relative;
}
.product_detail li span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    width: 131px;
    height: 20px;
    padding: 0 10px;
    background: #d03642;
    color: #ffffff;
    display: none;
    text-align: center;
}

.product_detail li:hover span{
    display: block;
}

.product_detail .margin_0 {
    margin-right: 0;
}

/*底部*/
.footer {
    clear: both;
    height: 131px;
    width: 100%;
    background: url("img/footer_bg.jpg");
}
.footer_top {
    height: 80px;
    line-height: 80px;
    color: #fff;
}
.footer_top a {
    color: #ffffff;
    text-decoration: none;
}